/* ImageSlider.css */
.slider-container {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 36px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.active {
  transform: translateX(0);
}

/* Add more styles as needed */
.image-banner {
  position: relative;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 34px; /* Adjust the font size as needed */
  color: black; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional text shadow */
  /* background-color: rgba(0, 0, 0, 0.7); Optional background color */
  padding: 10px; /* Optional padding around text */
  border-radius: 5px; /* Optional border-radius for a rounded background */
}
